
@mixin button-variant($background, $border, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 10%), $active-background: darken($background, 10%), $active-border: darken($border, 12.5%)) {
  color: #fff;
  @include gradient-bg($background);
  border-color: $border;
  border-width: 0;
  @include box-shadow($btn-box-shadow);
  position: relative;
  overflow: hidden;
  @include hover {
    color: color-yiq($hover-background);
    @include gradient-bg($hover-background);
    border-color: $hover-border;
  }

  &:focus,
  &.focus {
    // Avoid using mixin so we can pass custom focus shadow properly
    @if $enable-shadows {
      box-shadow: 0 0 0 $btn-focus-width rgba($background, .5);
    } @else {
      box-shadow: 0 0 0 $btn-focus-width rgba($border, .5);
    }
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    color: color-yiq($background);
    background-color: $background;
    border-color: $border;
    box-shadow: none !important;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: color-yiq($active-background);
    background-color: $active-background;
    @if $enable-gradients {
      background-image: none; // Remove the gradient for the pressed/active state
    }
    border-color: $active-border;

    &:focus {
      // Avoid using mixin so we can pass custom focus shadow properly
      @if $enable-shadows {
        box-shadow: $btn-box-shadow-active;
      } @else {
        box-shadow: 0 0 0 $btn-focus-width rgba($border, .5);
      }
    }
  }
}




@mixin btn-gradient($background) {
	color: #fff;
	  background: $background !important;
	  border-width: 0;
	  @include box-shadow($btn-box-shadow);
	  position: relative;
	  overflow: hidden;
	  @include hover {
	    color: #fff;
	    background: $background !important;
	  }

	  &:focus,
	  &.focus {
	    // Avoid using mixin so we can pass custom focus shadow properly
	    @if $enable-shadows {
	      box-shadow: 0 0 0 $btn-focus-width rgba(white, .5);
	    } @else {
	      box-shadow: 0 0 0 $btn-focus-width rgba($border, .5);
	    }
	  }

	  // Disabled comes first so active can properly restyle
	  &.disabled,
	  &:disabled {
	    color: #f2f2f2;
	    background: $background !important;
	    box-shadow: none !important;
	  }

	  &:not(:disabled):not(.disabled):active,
	  &:not(:disabled):not(.disabled).active,
	  .show > &.dropdown-toggle {
	    color: #f2f2f2;
	    background: $background !important;
	    @if $enable-gradients {
	      background-image: none; // Remove the gradient for the pressed/active state
	    }

	    &:focus {
	      // Avoid using mixin so we can pass custom focus shadow properly
	      @if $enable-shadows {
	        box-shadow: $btn-box-shadow-active;
	      } @else {
	        box-shadow: 0 0 0 $btn-focus-width rgba($border, .5);
	      }
	    }
	  }
}

@mixin button-outline-variant($color, $color-hover: color-yiq($color), $active-background: $color, $active-border: $color) {
  color: $color;
  background-color: transparent;
  background-image: none;
  border-color: $color;
  box-shadow: $btn-box-shadow;
  border-width: 2px;

  &:hover {
    color: $color;
    background-color: transparent;
    border-color: $active-border;
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 $btn-focus-width rgba($color, .5);
  }

  &.disabled,
  &:disabled {
    color: $color;
    background-color: transparent;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: $active-background;
    background-color: transparent;
    border-color: $active-border;

    &:focus {
      // Avoid using mixin so we can pass custom focus shadow properly
      @if $enable-shadows and $btn-active-box-shadow != none {
        box-shadow: $btn-box-shadow-active;
      } @else {
        box-shadow: 0 0 0 $btn-focus-width rgba($color, .5);
      }
    }
  }
}

@mixin button-icon-variant($color, $color-hover: color-yiq($color), $active-background: $color, $active-border: $color) {
  color: $color;
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  box-shadow: none !important;
  border-width: 0px;

  &:hover {
    color: $color;
    background-color: transparent;
    border-color: $active-border;
  }

  &:focus,
  &.focus {
    box-shadow: none !important;
  }

  &.disabled,
  &:disabled {
    color: $color;
    background-color: transparent;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: $active-background;
    background-color: transparent;
    border-color: transparent;

    &:focus {
      // Avoid using mixin so we can pass custom focus shadow properly
      @if $enable-shadows and $btn-active-box-shadow != none {
        box-shadow: none !important;
      } @else {
        box-shadow: none !important;
      }
    }
  }
}

.abbtn {
	@extend .btn;
	position: relative;
	overflow: hidden;
}


@each $color, $value in $theme-colors {
  .abbtn-#{$color} {
	@include button-variant($value, $value);
  	&.abbtn-rounded {
  		@include button-size($btn-padding-y, $btn-padding-x, 1rem, $btn-line-height, $btn-padding-x * 2);
	}
  }
}

@each $background, $value in $theme-colors-gradient {
  .abbtn-#{$background} {
    @include btn-gradient($value);
	  	&.abbtn-rounded {
	  		@include button-size($btn-padding-y, $btn-padding-x, 1rem, $btn-line-height, $btn-padding-x * 2);
	  	}
	}
}

@each $color, $value in $theme-colors {
  .abbtn-outline-#{$color} {
    @include button-outline-variant($value);
    &.abbtn-rounded {
  		@include button-size($btn-padding-y, $btn-padding-x, 1rem, $btn-line-height, $btn-padding-x * 2);
  	}
  }
}

.abbtn-flat,
.abbtn-flat:focus,
.abbtn-flat.focus {
	border-radius: 0;
	box-shadow: none !important;
}

.abbtn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
  &.abbtn-rounded {
  	@include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $btn-line-height-lg, $btn-padding-x-lg * 2);
  }
}

.abbtn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
  &.abbtn-rounded {
  	@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-line-height-sm, $btn-padding-x-sm * 2);
  }
}

.abbtn-icon {
	border-radius: 100% !important;
	padding: 0;
	width: $btn-icon-size;
	height: $btn-icon-size;
	&.abbtn-lg {
		width: $btn-icon-size-lg;
		height: $btn-icon-size-lg;
	}

	&.abbtn-sm {
		width: $btn-icon-size-sm;
		height: $btn-icon-size-sm;
	}
}

@each $color, $value in $theme-colors {
  .abbtn-icon-#{$color} {
    @include button-icon-variant($value);
  }
}


.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(50, 50, 50, 0.4);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleEffect {
    animation-name: rippleDrop;
    animation-timing-function: linear;
}

@keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
