$orange: 	#ef6d00;
$gradient-peach: linear-gradient(40deg,#ffd86f,#fc6262);
$gradient-blue: linear-gradient(40deg,#45cafc,#303f9f);
$gradient-purple: linear-gradient(40deg,#ff6ec4,#7873f5);
$gradient-aqua: linear-gradient(40deg,#2096ff,#05ffa3);
$gradient-argon: linear-gradient(40deg, #03001e, #7303c0, #ec38bc, #fdeff9);
$gradient-colt:	linear-gradient(40deg, #070000, #4c0001, #070000);
$gradient-flickr: linear-gradient(40deg, #ff0084, #33001b);


$indigo:    $indigo !default;
$purple:    $purple !default;
$pink:      $pink !default;
$orange:    $orange !default;
$teal:      $teal !default;

$facebook: #3B5998 !default;
$twitter: #55ACEE !default;
$google: #DD4B39 !default;
$linked-in: #0082CA !default;
$instagram: #A639AC !default;
$pinterest: #C61118 !default;
$youtube: #FF0000 !default;
$stackoverflow: #F37500 !default;
$slack: #56B68B !default;
$github: #222222 !default;
$dribbble: #DF3E7B !default;

$theme-colors: () !default;
$theme-colors: map-merge((
  	"indigo":     	$indigo,
  	"purple":     	$purple,
  	"pink":       	$pink,
  	"orange":     	$orange,
  	"teal":       	$teal,
  	"facebook": 	$facebook,
	"twitter": 		$twitter,
	"google-plus": 		$google,
	"linked-in": 	$linked-in,
	"instagram": 	$instagram,
	"pinterest": 	$pinterest,
	"youtube": 		$youtube,
	"stack-overflow":$stackoverflow,
	"slack": 		$slack,
	"github": 		$github,
	"dribbble": 	$dribbble
), $theme-colors);

$gradient-peach: $gradient-peach !default;
$gradient-blue: $gradient-blue !default;
$gradient-purple: $gradient-purple !default;
$gradient-aqua: $gradient-aqua !default;
$gradient-argon: $gradient-argon !default;
$gradient-colt: $gradient-colt !default;
$gradient-flickr: $gradient-flickr !default;

$theme-colors-gradient: () !default;
$theme-colors-gradient: map-merge((
  "gradient-peach": $gradient-peach,
  "gradient-blue": $gradient-blue,
  "gradient-purple": $gradient-purple,
  "gradient-aqua": $gradient-aqua,
  "gradient-argon": $gradient-argon,
  "gradient-colt": $gradient-colt,
  "gradient-flickr": $gradient-flickr,
), $theme-colors-gradient);

$btn-box-shadow:	4px 4px 4px #ccc !important;
$btn-box-shadow-active:	2px 2px 2px #ccc !important;
$enable-shadows: 	true !important;

$btn-icon-size: 2.5rem;
$btn-icon-size-lg: 3.5rem;
$btn-icon-size-sm: 2rem;

